* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(213, 237, 230);
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .building {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(1, 9, 19);
    border-radius: 10px;
    width: 20rem;
    height: 50rem;
    cursor: pointer;

  }
  .elevator {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(4, 41, 87);
    border-radius: 10px;
    width: 4rem;
    height: 50rem;
  }
  .building-elevator {
    display: flex;
  }
  .floor {
    border-radius: 10px;
    height: 5%;
  }
  .floor-1,
  .floor-2,
  .floor-3,
  .floor-4,
  .floor-5 ,
  .floor-6,
  .floor-7,
  .floor-8,
  .floor-9,
  .floor-10,
  .floor-11 ,
  .floor-12,
  .floor-13,
  .floor-14,
  .floor-15,
  .floor-16 ,
  .floor-17,
  .floor-18,
  .floor-19,
  .floor-20
 
  {
    background-color: rgb(154, 243, 142);
  }
  
  .elevator-floor {
    border-radius: 10px;
    height: 5%;
    cursor: pointer;
  }
  .elevator-floor-1 {
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-2 {
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-3 {
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-4 {
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-5 {
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-6{
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-7 {
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-8 {
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-9 {
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-10{
    background-color: rgb(213, 237, 230);
  }

  .elevator-floor-11{
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-12 {
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-13 {
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-14{
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-15{
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-16 {
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-17{
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-18{
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-19{
    background-color: rgb(213, 237, 230);
  }
  .elevator-floor-20{
    background-color: rgb(213, 237, 230);
  }
  .elevator-active,.elevator-active2 ,.elevator-active3 {
    transition: 300ms ease-in;
    background-color: black;
   
  }
  